#carouselExampleCaptions {
  width: 70%;
  height: 30%;
  margin: 0 auto;
  margin-top: 6%;
}
.immagini{
  width: 100px;
}
.riga{
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}
#destro{
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
}
#informaz{
  margin-left: 22%;
  text-align: center;
}
